<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  
</head> 
<body> 
 

  <div class="container"> 
    
      <form class="form-signin" action="/api/register" method="post"> 
      <h2 class="form-signin-heading">Welcome</h2> 
      <label for="inputfullName" class="sr-only">Full Name</label> 
      <input type="text" id="fullname" name="fullname" class="form-control" placeholder="full Name" required=""><br>
     
      <label for="inputEmail" class="sr-only">Email address</label> 
      <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required=""> <br>
      <label for="inputPassword" class="sr-only">Password</label> 
      <input type="password" id="password" name="password"
       class="form-control" placeholder="Password" required=""> <br>
       <label for="inputreferral" class="sr-only">Referral Code</label> 
       <input type="text" id="referrer" name="referrer"
        class="form-control" placeholder="Referral code" value=" " > <br>
        
      <button class="btn btn-lg btn-primary btn-block" 
         type="submit">Register</button> 
      <br> 
      <p>Already have an account? <a href="/loginPage">Login</a> </p> 
    </form> 
  </div> 

 
</body> 
</html> 
